*{ position:relative; box-sizing: border-box; margin:0; padding:0; }


body
{
	font-family:f3;
	direction:rtl;
}

header
{
	position:fixed;
	top:0; left:0; right:0;
	background:#1A1A1A;
	color:#FBFBFB;
	font-family:f2;
	
	border-bottom:thin solid;
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	z-index:999;
}
	header > *
	{
		margin: 0 5px;
	}
	header a
	{
		color:#D0D0D0;
		text-decoration:none;
		padding: 0 5px;
	}
		header a:hover
		{
			color:#FBFBFB;
		}
		header a:active
		{
			color:#BBBBBB;
		}




a {
    color:#8a8a8a;
    text-decoration:none;
}
    a:hover {
        color:#000;
    }
	
	
#container
{
	display:flex;
	flex-direction:row-reverse;
}
	#menu
	{
		background:#D0D0D0;
		min-width:20vw;
	}
		#menu nav
		{
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			
			padding:10px;
			margin-bottom:15px;
		}
		#menu a
		{
			color:inherit;
			text-decoration:none;
		}
			#menu a:hover
			{
				color:#343434;
				text-shadow:0 0 1px #000000 ;
			}
			#menu a:active
			{
				text-shadow:0 0 2px #6C6C6C;
			}
	
	#body
	{
		flex:1;
		padding:10px;
	}
	
	
	
	
	
@media  (min-width:500px) 
{
	#header_menuIcon { display:none; }
	#header_menu_nav{display:flex; justify-content:center; align-items:center; flex-wrap:wrap;}
	#header_menu{ display:inline-block; }
}

@media (max-width:500px) 
{
	#header_menuIcon
	{
		margin-right:auto;
	}
	#header_menu
	{
		 position:absolute;  
		 top:100%;
		 left:-5px;
		 background:#1A1A1A;
		 color:#FBFBFB;
		 font-family:f2;
		 
		 box-shadow: 0 0 5px 0 #000000;
		 border-radius: 0 0 5px 5px;
		 border-top:thin solid;
		 
		 display:none;
		 
		 z-index:999999;
	}
	#header_menu.display
	{
		display:inherit;
	}
	#header_menu_nav{display:flex; flex-direction:column; }
	
	#container
	{
		flex-direction:column;
	}
		#menu
		{
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			align-items:center;
		}
			#menu nav
			{
				margin:3px 10px;
				border:none;
			}
}


/*--------------------------------Wizardss-------------------------*/
.wizardContainer
{
	position:relative;
	width:70%; margin: auto;
	margin-top:10px;
}

.wizardPage
{
	position:relative;
	padding: 0 5px;
	
	border:thin solid #bfbfd9;
}
    .wizardPage hr {
        
        position:relative;
        width:70%;
        color: #bfbfd9;
        margin:5px auto;
    }

	.wizardPage .header
	{
		margin: 0 -5px;
		margin-bottom:5px;
		padding:2px 5px;
		border-bottom:thin solid #bfbfd9;
		background:#efeff5;
	}
	.wizardPage .footer
	{
		margin: 0 -5px;
		margin-top:5px;
		padding: 2px 5px;
		border-top:thin solid #bfbfd9;
		background:#efeff5;
	}
.wizardNav
{
	border:thin solid #bfbfd9;
	border-bottom:none;
	border-radius: 5px 5px 0 0 ;
	overflow:hidden;
	
	display:flex;
	flex-wrap:wrap;
	background:#efeff5;
}
	.wizardNav a
	{
		color:inherit;
		text-decoration:none;
		padding:0 3px;
		margin:0;
		
		transition: ease 0.2s;
        border-bottom:thin solid #bfbfd9;
	}
		.wizardNav a:nth-child(n+2)
		{
			border-right:thin solid #bfbfd9;
		}
		
		.wizardNav a:hover
		{
			background:#9f9fc6;
		}
		.wizardNav a:active, .wizardNav a.active
		{
			color:#cfcfe2;
			background:#303050;
		}

@media (max-width:500px) {
    .wizardContainer {
        width:100%;
    }
}
/*-----------------------------------------------------------------*/
