﻿
.inputsContainer {
    display:table;
    width:100%;
}
.input
{
    display:table-row;
}

    .input > *:not(hr) {
        display:table-cell;  
        vertical-align:middle;
    }

	.input input:not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]),
		.input textarea,
        .input select
	{
        width:100%;
        color:#373749;
		border:thin solid #b6b6c8;
		border-radius:3px;
		padding:3px;
		margin:3px 0 5px 0;
		background:#FEFEFE;
		
		resize:vertical;
		font-family:f3;
	}

    .input input[type=checkbox] {
        color:#373749;
		border:thin solid #b6b6c8;
		border-radius:3px;
		padding:3px;
		margin:3px 0 5px 0;
		background:#FEFEFE;
		
		resize:vertical;
		font-family:f3;
    }
    
	.input input:not([type=submit]):not([type=button]):not([type=reset]):focus,
		.input textarea:focus,
        .input select:focus
	{
		border: thin solid;
		box-shadow:0 0 3px 0 #b6b6c8;
		background:#FFFFFF;
	}

    .input option {
        padding:0 5px;
        display:block;
    }
        .input option:hover {
            background:#b6b6c8;
        }

    .input .error {
        box-shadow:0 0 3px 1px #f00;
    }
    .input span {
        margin-top:auto;
        color:#f00;
        padding: 0 10px;
        vertical-align:middle;
    }

    
/*-----------------------------------------Rating Section--------------------------*/
.input.rating
{
	position:relative;
	display:flex;
}
	.input.rating input
	{
		width:40px !important;
	}
	
	.input.rating .ratingSection
	{
		position:relative;
		width:220px;
		height:30px;
		background:url(../../Images/ratingback.png) no-repeat;
		background-size:100% 100%;
	}
	
	.input.rating .ratingSectionSlider
	{
		position:absolute;
		top:0; bottom:0; left:0; 
		background:#ffd700;
		z-index:-1;
	}
	.input.rating .ratingSectionFakeSlider
	{
		position:absolute;
		top:0; bottom:0; left:0; 
		background:#daa520;
		z-index:-1;
		display:none;
	}
	.input.rating:hover .ratingSectionFakeSlider
	{
		display:inherit;
	}
/*------------------------------------Rating Section -------------------------------*/


@media (max-width:500px) {
    .input > *:not(hr) {
        display:block !important;      
    }
}