﻿<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>کلینیک خودرو - @ViewBag.Title</title>

    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/default.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/input1.css" rel="stylesheet" />

    <script src="~/Publics/Scripts/jquery-3.0.0.js"></script>

</head>

<body>

	<header>
    	<div>
        	<h1 style="font-family:f1;"><a href="#">خودروکلینیک</a></h1>
        </div>
        
        <a href="javascript: void()" id="header_menuIcon"  class="gia-menuIcon" onClick="TogleClassShow(header_menu,'display');"></a>
        <div id="header_menu">
            <nav id="header_menu_nav">
                <a href="#" class="gia-statistic">داشبور</a>
                <a href="#" class="gia-setting">تنظیمات</a>
                <a href="#" class="gia-user">پروفایل</a>
                <a href="#" class="gia-help">راهنما</a>
            </nav>
        </div>
    </header>
    
    
    <div id="container">
    
    	
        <div id="body">
        	@RenderBody()
        </div>
        
        <div id="menu">
        	
            <nav>
            	<a href="#">قسمت 1 لینک 1</a>
                <a href="#">قسمت 1 لینک 2</a>
                <a href="#">قسمت 1 لینک 3</a>
                <a href="#">قسمت 1 لینک 4</a>
            </nav>
            
            
            <nav>
            	<a href="#">قسمت 1 لینک 1</a>
                <a href="#">قسمت 1 لینک 2</a>
                <a href="#">قسمت 1 لینک 3</a>
                <a href="#">قسمت 1 لینک 4</a>
            </nav>
            
            <nav>
            	<a href="#">قسمت 1 لینک 1</a>
                <a href="#">قسمت 1 لینک 2</a>
                <a href="#">قسمت 1 لینک 3</a>
                <a href="#">قسمت 1 لینک 4</a>
            </nav>
            
            <nav>
            	<a href="#">قسمت 1 لینک 1</a>
                <a href="#">قسمت 1 لینک 2</a>
                <a href="#">قسمت 1 لینک 3</a>
                <a href="#">قسمت 1 لینک 4</a>
            </nav>
            
        </div>
        
        
    </div>

</body>

<script src="~/Areas/Admin/Files/StyleAndScripts/Default/d00.js"></script>
<script>
    cn = document.getElementById('container');
    hw = (document.getElementsByTagName('header')[0].clientHeight + 1);
    cn.style.marginTop = hw + "px";
    cn.style.minHeight = (window.innerHeight - hw) + "px";

    function TogleClassShow(el, clname) {
        if (el.classList.contains(clname))
            el.classList.remove(clname);
        else
            el.classList.add(clname);
    }
</script>

    @RenderSection("script", false);

    @RenderSection("style",false);
</html>
